name: alleleflux
channels:
  - conda-forge
  - bioconda
  - nodefaults # Do not use any otehr channel
dependencies:
  - python
  - numpy
  - pandas
  - scipy
  - matplotlib-base
  - statsmodels
  - seaborn
  - tqdm
  - pysam
  - biopython
  - intervaltree
  - snakemake>=8.0.0
  - snakemake-executor-plugin-cluster-generic
  - rpy2 # Added for R integration
  - r-base # Required by rpy2
  - r-tidyr
  - pip
  - pip:
      - -e .
